{{define "common/main.html"}}
{{template "common/header" .}}
</head>
  
<body>
<div class="container-fluid p-t-15">
  
  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card bg-primary text-white">
        <div class="card-body clearfix">
          <div class="flex-box">
            <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-currency-cny fs-22"></i></span>
            <span class="fs-22 lh-22">102,125.00</span>
          </div>
          <div class="text-right">今日收入</div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-xl-3">
      <div class="card bg-danger text-white">
        <div class="card-body clearfix">
          <div class="flex-box">
            <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fs-22"></i></span>
            <span class="fs-22 lh-22">920,000</span>
          </div>
          <div class="text-right">用户总数</div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-xl-3">
      <div class="card bg-success text-white">
        <div class="card-body clearfix">
          <div class="flex-box">
            <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-arrow-down-bold fs-22"></i></span>
            <span class="fs-22 lh-22">34,005,000</span>
          </div>
          <div class="text-right">下载总量</div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-xl-3">
      <div class="card bg-purple text-white">
        <div class="card-body clearfix">
          <div class="flex-box">
            <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-comment-outline fs-22"></i></span>
            <span class="fs-22 lh-22">153 条</span>
          </div>
          <div class="text-right">新增留言</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-6"> 
      <div class="card">
        <div class="card-header">
          <div class="card-title">每周用户</div>
        </div>
        <div class="card-body">
          <canvas class="js-chartjs-bars"></canvas>
        </div>
      </div>
    </div>
    
    <div class="col-md-6"> 
      <div class="card">
        <div class="card-header">
          <div class="card-title">交易历史记录</div>
        </div>
        <div class="card-body">
          <canvas class="js-chartjs-lines"></canvas>
        </div>
      </div>
    </div>
     
  </div>
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">项目信息</div></header>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>项目名称</th>
                  <th>开始日期</th>
                  <th>截止日期</th>
                  <th>状态</th>
                  <th>进度</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>设计新主题</td>
                  <td>10/02/2019</td>
                  <td>12/05/2019</td>
                  <td><span class="badge badge-warning">待定</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-warning" style="width: 45%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>网站重新设计</td>
                  <td>01/03/2019</td>
                 <td>12/04/2019</td>
                  <td><span class="badge badge-success">进行中</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-success" style="width: 30%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>模型设计</td>
                   <td>10/10/2019</td>
                   <td>12/11/2019</td>
                  <td><span class="badge badge-warning">待定</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>后台管理系统模板设计</td>
                  <td>25/01/2019</td>
                  <td>09/05/2019</td>
                  <td><span class="badge badge-success">进行中</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>前端设计</td>
                  <td>10/10/2019</td>
                  <td>12/12/2019</td>
                  <td><span class="badge badge-danger">未开始</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-danger" style="width: 0%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>桌面软件测试</td>
                  <td>10/01/2019</td>
                  <td>29/03/2019</td>
                  <td><span class="badge badge-success">进行中</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-success" style="width: 75%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>APP改版开发</td>
                  <td>25/02/2019</td>
                  <td>12/05/2019</td>
                  <td><span class="badge badge-danger">暂停</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-danger" style="width: 15%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Logo设计</td>
                  <td>10/02/2019</td>
                  <td>01/03/2019</td>
                  <td><span class="badge badge-warning">完成</span></td>
                  <td>
                    <div class="progress progress-striped progress-sm">
                      <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

{{template "common/footer"}}
<script type="text/javascript" src="/public/static/js/Chart.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
    var $dashChartBarsCnt  = jQuery( '.js-chartjs-bars' )[0].getContext( '2d' ),
        $dashChartLinesCnt = jQuery( '.js-chartjs-lines' )[0].getContext( '2d' );
    
    var $dashChartBarsData = {
		labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
		datasets: [
			{
				label: '注册用户',
                borderWidth: 1,
                borderColor: 'rgba(0, 0, 0, 0)',
				backgroundColor: 'rgba(51, 202, 185, 0.5)',
                hoverBackgroundColor: "rgba(51, 202, 185, 0.7)",
                hoverBorderColor: "rgba(0, 0, 0, 0)",
				data: [2500, 1500, 1200, 3200, 4800, 3500, 1500]
			}
		]
	};
    var $dashChartLinesData = {
		labels: ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
		datasets: [
			{
				label: '交易资金',
				data: [20, 25, 40, 30, 45, 40, 55, 40, 48, 40, 42, 50],
				borderColor: '#358ed7',
				backgroundColor: 'rgba(53, 142, 215, 0.175)',
                borderWidth: 1,
                fill: false,
                lineTension: 0.5
			}
		]
	};
    
    new Chart($dashChartBarsCnt, {
        type: 'bar',
        data: $dashChartBarsData
    });
    
    var myLineChart = new Chart($dashChartLinesCnt, {
        type: 'line',
        data: $dashChartLinesData,
    });
});
</script>
</body>
</html>
{{end}}
