{{define "user/user_rule_list.html"}}
{{template "common/header" .}}
</head>
  
<body>
<div class="container-fluid p-t-15">
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">设置角色</div></header>
        <div class="card-body">
          
          <form action="{{.editUrl}}" name="frm1" method="post">
            <input type="hidden"  name="user_id" value="{{.info.ID}}">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check-all">
                        <label class="custom-control-label" for="check-all">全选</label>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{range $row := .list}}
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input {{if $row.Checked}}checked="true"{{end}} type="checkbox" name="rules[]" class="custom-control-input checkbox-parent" id="roleid-{{$row.ID}}" dataid="id-{{$row.ID}}" value="{{$row.ID}}">
                          <label class="custom-control-label" for="roleid-{{$row.ID}}">{{$row.Role_name}}</label>
                        </div>
                      </td>
                    </tr>
                  {{end}}
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary m-r-5 ajax-post" target-form="frm1">确 定</button>
              <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
          </form>
        </div>
      </div>
    </div>
        
  </div>
  
</div>

{{template "common/footer"}}
<script type="text/javascript">
$(function(){
    //动态选择框，上下级选中状态变化
    $('input.checkbox-parent').on('change', function(){
        var dataid = $(this).attr("dataid");
        $('input[dataid^=' + dataid + '-]').prop('checked', $(this).is(':checked'));
    });
    $('input.checkbox-child').on('change', function(){
        var dataid = $(this).attr("dataid");
            dataid = dataid.substring(0, dataid.lastIndexOf("-"));
        var parent = $('input[dataid=' + dataid + ']');
        if($(this).is(':checked')){
            parent.prop('checked', true);
            //循环到顶级
            while(dataid.lastIndexOf("-") != 2){
                dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                parent = $('input[dataid=' + dataid + ']');
                parent.prop('checked', true);
            }
        }else{
            //父级
            if($('input[dataid^=' + dataid + '-]:checked').length == 0){
                parent.prop('checked', false);
                //循环到顶级
                while(dataid.lastIndexOf("-") != 2){
                    dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                    parent = $('input[dataid=' + dataid + ']');
                    if($('input[dataid^=' + dataid + '-]:checked').length == 0){
                        parent.prop('checked', false);
                    }
                }
            }
        }
    });
});
</script>
</body>
</html>
{{end}}